#cardContainer {
    visibility: hidden;
    width: 650px;
    height: 553px;
    z-index: 1000;
    position: absolute;
    background: url('../images/box.png') no-repeat;
}

#cardContainer li {
    width: 99px;
    height: 99px;    
    list-style: none;
    float:left;
    cursor: pointer;
    background: url('../images/contrary.png') no-repeat;    
    margin-right: 18px;
    margin-top: 19px;    
    -webkit-perspective: 500;
    -moz-perspective: 500;
    -ms-perspective: 500;
    perspective: 500;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;    
}

.moveLeftRotation
{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.moveRightRotation {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);   
}

.initialRotation {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

#music_control {
    width: 84px;
    height: 74px;
    position: absolute;
    visibility: hidden;
    cursor: pointer;
}

#music_control.musicopen  {
    background: url('../images/soundOpen.png') no-repeat;
}

#music_control.musicclose  {
    background: url('../images/soundClose.png') no-repeat;
}    

#reboot_game {
    width: 75px;
    height: 66px;
    background: url('../images/refresh.png') no-repeat;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}